<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.askme.exploretoday">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutUs"/>
        <activity android:name=".Bangla_details"/>
        <activity android:name=".English_details"/>
        <activity android:name=".Help"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".list_activity"/>
        <activity android:name=".myWebview"/>
        <activity android:name=".newsPaper_launcher"/>

    </application>

</manifest>
